.header {
  background-color: #f2f2f2;
  overflow: hidden;
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  padding: 0 64px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  z-index: 1;
  width: 154px;
  height: 31px;
}
